<header class="masthead"><a class="skipTo" href="#mainNav">Skip to main navigation</a><a class="skipTo"
    href="#mainContent">Skip to main content</a>
  <nav class="clubNavigation" data-script="pl_global-header" role="menubar">
    <div class="clubSitesHeading">
      <!-- TO-TRANSLATE -->
      <h4>Club Sites<div class="icon"></div>
      </h4>
    </div>
    <ul class="clubList" role="menu">
      <li><a target="_blank"
          href="http://www.afcb.co.uk/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          role="menuitem"><span class="badge-25 BOU "></span><span class="badge-50 BOU "><span
              class="visuallyHidden">AFC Bournemouth</span></span><span class="name">AFC
            Bournemouth</span></a></li>
      <li><a target="_blank"
          href="http://www.arsenal.com/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          role="menuitem"><span class="badge-25 ARS "></span><span class="badge-50 ARS "><span
              class="visuallyHidden">Arsenal</span></span><span class="name">Arsenal</span></a></li>
      <li><a target="_blank"
          href="https://www.brightonandhovealbion.com/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          role="menuitem"><span class="badge-25 BHA "></span><span class="badge-50 BHA "><span
              class="visuallyHidden">Brighton & Hove Albion</span></span><span class="name">Brighton &
            Hove Albion</span></a></li>
      <li><a target="_blank"
          href="http://www.burnleyfootballclub.com/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          role="menuitem"><span class="badge-25 BUR "></span><span class="badge-50 BUR "><span
              class="visuallyHidden">Burnley</span></span><span class="name">Burnley</span></a></li>
      <li><a target="_blank"
          href="https://www.cardiffcityfc.co.uk/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          role="menuitem"><span class="badge-25 CAR "></span><span class="badge-50 CAR "><span
              class="visuallyHidden">Cardiff City</span></span><span class="name">Cardiff
            City</span></a></li>
      <li><a target="_blank"
          href="https://www.chelseafc.com/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          role="menuitem"><span class="badge-25 CHE "></span><span class="badge-50 CHE "><span
              class="visuallyHidden">Chelsea</span></span><span class="name">Chelsea</span></a></li>
      <li><a target="_blank"
          href="http://www.cpfc.co.uk/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          role="menuitem"><span class="badge-25 CRY "></span><span class="badge-50 CRY "><span
              class="visuallyHidden">Crystal Palace</span></span><span class="name">Crystal
            Palace</span></a></li>
      <li><a target="_blank"
          href="http://www.evertonfc.com/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          role="menuitem"><span class="badge-25 EVE "></span><span class="badge-50 EVE "><span
              class="visuallyHidden">Everton </span></span><span class="name">Everton </span></a></li>
      <li><a target="_blank"
          href="http://www.fulhamfc.com/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          role="menuitem"><span class="badge-25 FUL "></span><span class="badge-50 FUL "><span
              class="visuallyHidden">Fulham</span></span><span class="name">Fulham</span></a></li>
      <li><a target="_blank"
          href="http://www.htafc.com/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          role="menuitem"><span class="badge-25 HUD "></span><span class="badge-50 HUD "><span
              class="visuallyHidden">Huddersfield Town</span></span><span class="name">Huddersfield
            Town</span></a></li>
      <li><a target="_blank"
          href="http://www.lcfc.com/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          role="menuitem"><span class="badge-25 LEI "></span><span class="badge-50 LEI "><span
              class="visuallyHidden">Leicester City</span></span><span class="name">Leicester
            City</span></a></li>
      <li><a target="_blank"
          href="http://www.liverpoolfc.com/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          role="menuitem"><span class="badge-25 LIV "></span><span class="badge-50 LIV "><span
              class="visuallyHidden">Liverpool</span></span><span class="name">Liverpool</span></a>
      </li>
      <li><a target="_blank"
          href="https://www.mancity.com/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          role="menuitem"><span class="badge-25 MCI "></span><span class="badge-50 MCI "><span
              class="visuallyHidden">Manchester City</span></span><span class="name">Manchester
            City</span></a></li>
      <li><a target="_blank"
          href="http://www.manutd.com/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          role="menuitem"><span class="badge-25 MUN "></span><span class="badge-50 MUN "><span
              class="visuallyHidden">Manchester United</span></span><span class="name">Manchester
            United</span></a></li>
      <li><a target="_blank"
          href="https://www.nufc.co.uk/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          role="menuitem"><span class="badge-25 NEW "></span><span class="badge-50 NEW "><span
              class="visuallyHidden">Newcastle United</span></span><span class="name">Newcastle
            United</span></a></li>
      <li><a target="_blank"
          href="https://southamptonfc.com/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          role="menuitem"><span class="badge-25 SOU "></span><span class="badge-50 SOU "><span
              class="visuallyHidden">Southampton</span></span><span class="name">Southampton</span></a></li>
      <li><a target="_blank"
          href="http://www.tottenhamhotspur.com/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          role="menuitem"><span class="badge-25 TOT "></span><span class="badge-50 TOT "><span
              class="visuallyHidden">Spurs</span></span><span class="name">Spurs</span></a></li>
      <li><a target="_blank"
          href="https://www.watfordfc.com/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          role="menuitem"><span class="badge-25 WAT "></span><span class="badge-50 WAT "><span
              class="visuallyHidden">Watford</span></span><span class="name">Watford</span></a></li>
      <li><a target="_blank"
          href="http://www.whufc.com/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          role="menuitem"><span class="badge-25 WHU "></span><span class="badge-50 WHU "><span
              class="visuallyHidden">West Ham</span></span><span class="name">West Ham</span></a></li>
      <li><a target="_blank"
          href="https://www.wolves.co.uk/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          role="menuitem"><span class="badge-25 WOL "></span><span class="badge-50 WOL "><span
              class="visuallyHidden">Wolves</span></span><span class="name">Wolves</span></a></li>
    </ul>
  </nav>
  <div class="fixedContainer">
    <div class="navContainer" data-script="pl_global-header">
      <section id="mainNav" class="navBar" role="menubar">
        <div class="menuBtn" role="button" id="hamburgerToggle" aria-expanded="false"><span>Menu</span>
          <div class="menuBtnContainer">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div><a href="/home" class="plLogo" aria-label="Premier League Home Page on logo link">
          <picture>
            <source srcset="assets/i/elements/premier-league-logo-header.svg" type="image/svg+xml"><img id="mainLogo"
              src="assets/i/elements/premier-league-logo-header.png" alt="Premier League Logo">
          </picture><span class="mobile"><img src="assets/i/elements/premier-league-logo-header-mob.svg"
              alt="Premier League Logo"></span>
        </a>
        <nav class="mainNav">
          <!-- <ul  class="pageLinks" role="menu"> -->

          <!-- premiser dropdown start -->
          <!-- <li class=" premierleague " tabindex="0" aria-haspopup="true" role="menuitem">
              <div role="button" class="navLink active " tabindex="index"> Premier League
                <span class="icn chevron-down-sm-w"></span>
              </div>
              <div class="dropdown " aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0" href="index.html" role="menuitem"> Home </a>
                  </li>
                  <li tabindex="-1"><a tabindex="0" href="fixtures.html" role="menuitem"> Fixtures
                    </a></li>
                  <li tabindex="-1"><a tabindex="0" href="results.html" role="menuitem"> Results
                    </a></li>
                  <li tabindex="-1"><a tabindex="0" href="tables.html" role="menuitem"> Tables
                    </a></li>
                  <li tabindex="-1"><a tabindex="0" href="transfers/january/2019.html" role="menuitem"> Transfers </a>
                  </li>
                  <li tabindex="-1"><a tabindex="0" href="broadcast-schedules.html" role="menuitem"> Broadcast </a></li>
                  <li tabindex="-1"><a tabindex="0" href="tickets.html" role="menuitem"> Tickets
                    </a></li>
                  <li tabindex="-1"><a tabindex="0" href="clubs.html" role="menuitem"> Clubs </a>
                  </li>
                  <li tabindex="-1"><a tabindex="0" href="players.html" role="menuitem"> Players
                    </a></li>
                  <li tabindex="-1"><a tabindex="0" href="managers.html" role="menuitem"> Managers
                    </a></li>
                  <li tabindex="-1"><a tabindex="0" href="news.html" role="menuitem"> News </a>
                  </li>
                  <li tabindex="-1"><a tabindex="0" href="social.html" role="menuitem"> Social
                    </a></li>
                  <li tabindex="-1"><a tabindex="0" href="youth.html" role="menuitem"> Youth </a>
                  </li>
                  <li tabindex="-1"><a tabindex="0" href="safeguarding.html" role="menuitem">
                      Safeguarding </a></li>
                  <li tabindex="-1"><a tabindex="0" href="history.html" role="menuitem"> History
                    </a></li>
                  <li tabindex="-1"><a tabindex="0" href="referees/overview.html" role="menuitem">
                      Referees </a></li>
                </ul>
              </div>
            </li> -->
          <!-- premier dropdown end -->

          <!-- fantasy dropdown start -->
          <!-- <li class=" fantasy " role="menuitem">
              <div role="button" class="navLink " tabindex="index"> Fantasy <span class="icn chevron-down-sm-w"></span>
              </div>
              <div class="dropdown " aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0" routerLink="/fantasy" role="menuitem"> Fantasy
                    </a></li>
                  <li tabindex="-1"><a tabindex="0" routerLink="/draft" role="menuitem"> Fantasy
                      Draft </a></li>
                </ul>
              </div>
            </li> -->
          <!-- fantasy dropdown end -->

          <!-- stats start -->
          <!-- <li class=" stats " role="menuitem"><a href="stats.html" data-link-index="2" class="navLink "
                role="menuitem"> Stats </a>
              <div role="button" class="navLink mobile " tabindex="index"> Stats <span
                  class="icn chevron-down-sm-w"></span></div>
              <div class="dropdown dropdownMobile" aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0" href="stats.html" role="menuitem"> Dashboard
                    </a></li>
                  <li tabindex="-1"><a tabindex="0" href="stats/top/players/goals234f.html?se=79" role="menuitem">
                      Player Stats </a></li>
                  <li tabindex="-1"><a tabindex="0" href="stats/top/clubs/wins234f.html?se=79" role="menuitem"> Club
                      Stats </a></li>
                  <li tabindex="-1"><a tabindex="0" href="stats/all-time.html" role="menuitem">
                      All-time </a></li>
                  <li tabindex="-1"><a tabindex="0" href="stats/records.html" role="menuitem">
                      Records </a></li>
                  <li tabindex="-1"><a tabindex="0" href="stats/head-to-head.html" role="menuitem"> Head-to-Head </a>
                  </li>
                  <li tabindex="-1"><a tabindex="0" href="stats/player-comparison.html" role="menuitem"> Player
                      Comparison </a></li>
                  <li tabindex="-1"><a tabindex="0" href="stats/awards.html" role="menuitem">
                      Awards </a></li>
                </ul>
              </div>
            </li> -->
          <!-- stats end -->

          <!-- video single start -->
          <!-- <li class=" video " role="menuitem"><a href="video.html" data-link-index="3" class="navLink "
                role="menuitem"> Video </a>
              <div role="button" class="navLink mobile " tabindex="index"> Video <span
                  class="icn chevron-down-sm-w"></span></div>
              <div class="dropdown dropdownMobile" aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0" href="video.html" role="menuitem"> Dashboard
                    </a></li>
                </ul>
              </div>
            </li> -->
          <!-- video single end -->

          <!-- community dropdown start -->
          <!-- <li class=" communities " tabindex="0" role="menuitem">
              <div role="button" class="navLink " tabindex="index"> Communities <span
                  class="icn chevron-down-sm-w"></span></div>
              <div class="dropdown " aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0" href="communities.html" role="menuitem">
                      Latest </a></li>
                  <li tabindex="-1"><a tabindex="0" href="communities/programmes.html" role="menuitem"> Programmes </a>
                  </li>
                  <li tabindex="-1"><a tabindex="0" href="communities/PLKicksheroes.html" role="menuitem"> PL Kicks
                      Heroes </a></li>
                  <li tabindex="-1"><a tabindex="0" href="communities/strategy.html" role="menuitem"> Strategy </a></li>
                  <li tabindex="-1"><a tabindex="0" href="https://plprimarystars.com/" role="menuitem"> PL Primary Stars
                    </a></li>
                </ul>
              </div>
            </li> -->
          <!-- community dropdown end -->

          <!-- fantasy start -->

          <ul *ngIf="!gs.auth" class="pageLinks" role="menu">

            <li class=" video " role="menuitem"><a routerLink="/fantasy/fantasyhome" data-link-index="0"
                class="navLink " role="menuitem"> Home </a>
              <div role="button" class="navLink mobile " tabindex="index"> Home <span
                  class="icn chevron-down-sm-w"></span></div>
              <div class="dropdown dropdownMobile" aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0" routerLink="/fantasy/fantasyhome" role="menuitem"> Dashboard
                    </a></li>
                </ul>
              </div>
            </li>

            <li class=" video " role="menuitem"><a routerLink="/fantasy/prizes" data-link-index="1" class="navLink "
                role="menuitem"> Prizes </a>
              <div role="button" class="navLink mobile " tabindex="index"> Prizes <span
                  class="icn chevron-down-sm-w"></span></div>
              <div class="dropdown dropdownMobile" aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0" routerLink="/fantasy/prizes" role="menuitem"> Dashboard
                    </a></li>
                </ul>
              </div>
            </li>

            <li class=" video " role="menuitem"><a routerLink="/fantasy/scout" data-link-index="2" class="navLink "
                role="menuitem"> The Scout </a>
              <div role="button" class="navLink mobile " tabindex="index"> The Scout <span
                  class="icn chevron-down-sm-w"></span></div>
              <div class="dropdown dropdownMobile" aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0" routerLink="/fantasy/scout" role="menuitem"> Dashboard
                    </a></li>
                </ul>
              </div>
            </li>


            <li class=" video " role="menuitem"><a routerLink="/fantasy/help" data-link-index="3" class="navLink "
                role="menuitem"> Help </a>
              <div role="button" class="navLink mobile " tabindex="index"> Help <span
                  class="icn chevron-down-sm-w"></span></div>
              <div class="dropdown dropdownMobile" aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0" routerLink="/fantasy/help" role="menuitem"> Dashboard
                    </a></li>
                </ul>
              </div>
            </li>

            <li class=" video " role="menuitem"><a routerLink="/fantasy/statistics" data-link-index="4" class="navLink "
                role="menuitem"> Statistics </a>
              <div role="button" class="navLink mobile " tabindex="index"> Statistics <span
                  class="icn chevron-down-sm-w"></span></div>
              <div class="dropdown dropdownMobile" aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0" routerLink="/fantasy/statistics" role="menuitem"> Dashboard
                    </a></li>
                </ul>
              </div>
            </li>

            <li class=" video " role="menuitem"><a routerLink="/draft" data-link-index="5" class="navLink "
                role="menuitem"> Draft </a>
              <div role="button" class="navLink mobile " tabindex="index"> Draft <span
                  class="icn chevron-down-sm-w"></span></div>
              <div class="dropdown dropdownMobile" aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0" routerLink="/draft" role="menuitem"> Dashboard
                    </a></li>
                </ul>
              </div>
            </li>

            <li class=" video " role="menuitem">
              <a href="http://www.rotoworld.com/sports/bpl/premier-league?utm_source=premier-league-fantasy&amp;utm_campaign=rotoworld&amp;utm_medium=link"
                data-link-index="6" class="navLink" role="menuitem" target="_blank" rel="noopener noreferrer"> Rotoworld
              </a>
              <div role="button" class="navLink mobile " tabindex="index"> Rotoworld
                <span class="icn external-w ism-nav__tab__icon"></span>
                <span class="icn external-d ism-nav__tab__icon"></span>
              </div>
              <div class="dropdown dropdownMobile" aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0"
                      href="http://www.rotoworld.com/sports/bpl/premier-league?utm_source=premier-league-fantasy&amp;utm_campaign=rotoworld&amp;utm_medium=link"
                      role="menuitem" target="_blank" rel="noopener noreferrer"> Dashboard
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="clubs" aria-haspopup="true">
              <div role="button" class="navLink clubListMobileButton">Clubs<span class="icn external-w"><span
                    class="visuallyHidden">External Link</span></span>
              </div>
              <div class="dropdown" aria-hidden="true" role="menu"></div>
            </li>
          </ul>

          <ul *ngIf="gs.auth" class="pageLinks" role="menu">

            <li class=" video " role="menuitem"><a routerLink="/fantasy/status" data-link-index="0" class="navLink "
                role="menuitem"> Status </a>
              <div role="button" class="navLink mobile " tabindex="index"> Status <span
                  class="icn chevron-down-sm-w"></span></div>
              <div class="dropdown dropdownMobile" aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0" routerLink="/fantasy/status" role="menuitem"> Dashboard
                    </a></li>
                </ul>
              </div>
            </li>
            <li class=" video " role="menuitem"><a routerLink="/fantasy/myteam" data-link-index="1" class="navLink "
                role="menuitem"> My team </a>
              <div role="button" class="navLink mobile " tabindex="index"> My team <span
                  class="icn chevron-down-sm-w"></span></div>
              <div class="dropdown dropdownMobile" aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0" routerLink="/fantasy/myteam" role="menuitem"> Dashboard
                    </a></li>
                </ul>
              </div>
            </li>

            <li class=" video " role="menuitem"><a routerLink="/fantasy/points" data-link-index="2" class="navLink "
                role="menuitem"> Points </a>
              <div role="button" class="navLink mobile " tabindex="index"> Points <span
                  class="icn chevron-down-sm-w"></span></div>
              <div class="dropdown dropdownMobile" aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0" routerLink="/fantasy/points" role="menuitem"> Dashboard
                    </a></li>
                </ul>
              </div>
            </li>

            <li class=" video " role="menuitem"><a routerLink="/fantasy/transfers" data-link-index="3" class="navLink "
                role="menuitem"> Transfers </a>
              <div role="button" class="navLink mobile " tabindex="index"> Transfers <span
                  class="icn chevron-down-sm-w"></span></div>
              <div class="dropdown dropdownMobile" aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0" routerLink="/fantasy/transfers" role="menuitem"> Dashboard
                    </a></li>
                </ul>
              </div>
            </li>

            <li class=" video " role="menuitem"><a routerLink="/fantasy/leagues" data-link-index="4" class="navLink "
                role="menuitem"> Leagues </a>
              <div role="button" class="navLink mobile " tabindex="index"> Leagues <span
                  class="icn chevron-down-sm-w"></span></div>
              <div class="dropdown dropdownMobile" aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0" routerLink="/fantasy/leagues" role="menuitem"> Dashboard
                    </a></li>
                </ul>
              </div>
            </li>

            <li class=" video " role="menuitem"><a routerLink="/fantasy/fixtures" data-link-index="5" class="navLink "
                role="menuitem"> Fixtures </a>
              <div role="button" class="navLink mobile " tabindex="index"> Fixtures <span
                  class="icn chevron-down-sm-w"></span></div>
              <div class="dropdown dropdownMobile" aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0" routerLink="/fantasy/fixtures" role="menuitem"> Dashboard
                    </a></li>
                </ul>
              </div>
            </li>

            <li class=" video " role="menuitem">
              <a href="http://www.rotoworld.com/sports/bpl/premier-league?utm_source=premier-league-fantasy&amp;utm_campaign=rotoworld&amp;utm_medium=link"
                data-link-index="6" class="navLink" role="menuitem" target="_blank" rel="noopener noreferrer"> Rotoworld
              </a>
              <div role="button" class="navLink mobile " tabindex="index"> Rotoworld
                <span class="icn external-w ism-nav__tab__icon"></span>
                <span class="icn external-d ism-nav__tab__icon"></span>
              </div>
              <div class="dropdown dropdownMobile" aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0"
                      href="http://www.rotoworld.com/sports/bpl/premier-league?utm_source=premier-league-fantasy&amp;utm_campaign=rotoworld&amp;utm_medium=link"
                      role="menuitem" target="_blank" rel="noopener noreferrer"> Dashboard
                    </a>
                  </li>
                </ul>
              </div>
            </li>


            <li class=" video " role="menuitem"><a routerLink="/fantasy/statistics" data-link-index="7" class="navLink "
                role="menuitem"> Statistics </a>
              <div role="button" class="navLink mobile " tabindex="index"> Statistics <span
                  class="icn chevron-down-sm-w"></span></div>
              <div class="dropdown dropdownMobile" aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0" routerLink="/fantasy/statistics" role="menuitem"> Dashboard
                    </a></li>
                </ul>
              </div>
            </li>
            <li class=" video " role="menuitem"><a routerLink="/fantasy/scout" data-link-index="8" class="navLink "
                role="menuitem"> The Scout </a>
              <div role="button" class="navLink mobile " tabindex="index"> The Scout <span
                  class="icn chevron-down-sm-w"></span></div>
              <div class="dropdown dropdownMobile" aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0" routerLink="/fantasy/scout" role="menuitem"> Dashboard
                    </a></li>
                </ul>
              </div>
            </li>        

            <li class=" video " role="menuitem"><a routerLink="/fantasy/prizes" data-link-index="10" class="navLink "
                role="menuitem"> Prizes </a>
              <div role="button" class="navLink mobile " tabindex="index"> Prizes <span
                  class="icn chevron-down-sm-w"></span></div>
              <div class="dropdown dropdownMobile" aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0" routerLink="/fantasy/prizes" role="menuitem"> Dashboard
                    </a></li>
                </ul>
              </div>
            </li>

            <li class=" video " role="menuitem"><a href="/fantasy/fantasyhome" data-link-index="11" class="navLink "
                (click)="gs.logout()" role="menuitem"> Sign Out </a>
              <div role="button" class="navLink mobile " tabindex="index"> Sign Out <span
                  class="icn chevron-down-sm-w"></span></div>
              <div class="dropdown dropdownMobile" aria-hidden="true">
                <ul role="menu">
                  <li tabindex="-1"><a tabindex="0" href="/fantasy/fantasyhome" role="menuitem" (click)="gs.logout()">
                      Dashboard
                    </a></li>
                </ul>
              </div>
            </li>

            <li class="more " tabindex="0" aria-haspopup="true" role="menuitem">
              <div role="button" class="navLink ">More<span class="icn chevron-down-sm-w"></span>
              </div>
              <div class="dropdown" aria-hidden="true">
                <ul role="menu">
                  <li> <a routerLink="/draft" class="ism-nav__tab ism-nav__tab--primary">Draft</a> </li>
                  <li><a routerLink="fantasy/statistics" role="menuitem">Player Availability</a></li>
                  <li><a routerLink="/fantasy/help" role="menuitem">Help</a></li>
                </ul>
              </div>
            </li>

            <li class="clubs" aria-haspopup="true">
              <div role="button" class="navLink clubListMobileButton">Clubs<span class="icn external-w"><span
                    class="visuallyHidden">External Link</span></span>
              </div>
              <div class="dropdown" aria-hidden="true" role="menu"></div>
            </li>

          </ul>
          <!-- fantasy end -->




          <!-- </ul> -->

        </nav>

        <!-- sign in start -->
        <!-- <a href="#!" class="navLink navOption fantasySignIn" role="button" tabindex="0">
          <div class="icn user-w show-m"></div>
          <span class="fantasySignInLabel">Sign in</span>
        </a>
        <a href="#!" class="navLink navOption fantasySignOut" role="button" tabindex="0">
          <div class="icn user-w show-m"></div><span class="fantasyUsername"></span>
        </a>
        <div class="navOption search">
          <div class="searchBtn headerSearchButton" role="button" tabindex="0"><span
              class="visuallyHidden">Search</span>
            <div alt="" class="icn search-w"></div>
          </div>
        </div> -->
        <!-- sign in end -->

      </section>
      <div class="searchBar searchBarContainer" data-widget="search-header-redirect" role="search">
        <div class="searchBox">
          <div class="plSearch"><input id="searchPremierLeagueInput" class="searchInput searchInputContainer"
              type="text" placeholder="Search Premier League"><label for="searchPremierLeagueInput"
              class="visuallyHidden">Search Premier League</label><span class="focusBorder"></span><span
              class="searchBtnContainer searchButtonContainer"><input type="submit" class="searchInputBtn" tabindex="0"
                id="searchPremierLeagueInput" aria-label="Submit search"><span class="btnBg"></span><span
                class="icn search-sm"><span class="visuallyHidden">Submit
                  search</span></span></span></div>
        </div>
      </div>
      <div class="searchOverlay"></div>
    </div>
    <nav class="subNav" role="menubar">
      <ul>
        <!--  <li><a href="index.html" class=" active" data-link-index="0" role="menuitem">Home</a></li>
        <li><a href="fixtures.html" class=" " data-link-index="1" role="menuitem">Fixtures</a></li>
        <li><a href="results.html" class=" " data-link-index="2" role="menuitem">Results</a></li>
        <li><a href="tables.html" class=" " data-link-index="3" role="menuitem">Tables</a></li>
        <li><a href="transfers/january/2019.html" class=" " data-link-index="4" role="menuitem">Transfers</a></li>
        <li><a href="broadcast-schedules.html" class=" " data-link-index="5" role="menuitem">Broadcast</a>
        </li>
        <li><a href="tickets.html" class=" " data-link-index="6" role="menuitem">Tickets</a></li>
        <li><a href="clubs.html" class=" " data-link-index="7" role="menuitem">Clubs</a></li>
        <li><a href="players.html" class=" " data-link-index="8" role="menuitem">Players</a></li>
        <li><a href="managers.html" class=" " data-link-index="9" role="menuitem">Managers</a></li>
        <li><a href="news.html" class=" " data-link-index="10" role="menuitem">News</a></li>
        <li><a href="social.html" class=" " data-link-index="11" role="menuitem">Social</a></li>
        <li><a href="youth.html" class=" " data-link-index="12" role="menuitem">Youth</a></li>
        <li><a href="safeguarding.html" class=" " data-link-index="13" role="menuitem">Safeguarding</a></li>
        <li><a href="history.html" class=" " data-link-index="14" role="menuitem">History</a></li>
        <li><a href="referees/overview.html" class=" " data-link-index="15" role="menuitem">Referees</a>
        </li>-->
      </ul>
    </nav>
  </div>
</header>