<footer class="mainFooter">
  <div class="footerSponsorStrip">
    <ul>
      <li><a
          href="https://www.easports.com/fifa?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          target="_blank"><span alt="" class="large icn sponsor-footer-ea"></span><span alt=""
            class="small icn sponsor-footer-ea-sm"></span><span alt="" class="type">Lead Partner<span
              class="visuallyHidden">EA SPORTS</span></span></a></li>
      <li><a
          href="https://www.home.barclays/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          target="_blank"><span alt="" class="large icn sponsor-footer-barclays"></span><span alt=""
            class="small icn sponsor-footer-barclays-sm"></span><span alt="" class="type">Official
            Bank<span class="visuallyHidden">Barclays</span></span></a></li>
      <li><a
          href="http://www.cadbury.co.uk/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          target="_blank"><span alt="" class="large icn sponsor-footer-cadbury"></span><span alt=""
            class="small icn sponsor-footer-cadbury-sm"></span><span alt="" class="type">Official
            Snack<span class="visuallyHidden">Cadbury</span></span></a></li>
      <li><a
          href="https://www.carling.com/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          target="_blank"><span alt="" class="large icn sponsor-footer-carling"></span><span alt=""
            class="small icn sponsor-footer-carling-sm"></span><span alt="" class="type">Official
            Beer<span class="visuallyHidden">Carling</span></span></a></li>
      <li><a
          href="http://www.coca-cola.co.uk/premierleague?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          target="_self"><span alt="" class="large icn sponsor-footer-icn sponsor-footer-cocacola"></span><span alt=""
            class="small icn sponsor-footer-icn sponsor-footer-cocacola-sm"></span><span alt="" class="type">Official
            Soft Drink<span class="visuallyHidden">Coca-Cola</span></span></a>
      </li>
      <li><a
          href="https://www.nike.com/gb/en_gb/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          target="_blank"><span alt="" class="large icn sponsor-footer-nike"></span><span alt=""
            class="small icn sponsor-footer-nike-sm"></span><span alt="" class="type">Official Ball<span
              class="visuallyHidden">Nike</span></span></a></li>
      <li><a
          href="http://www.tagheuer.com/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          target="_blank"><span alt="" class="large icn sponsor-footer-tag"></span><span alt=""
            class="small icn sponsor-footer-tag-sm"></span><span alt="" class="type">Official
            Timekeeper<span class="visuallyHidden">TAG Heuer</span></span></a></li>
      <li><a
          href="http://www.sporting-id.com/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          target="_blank"><span alt="" class="large icn sponsor-footer-sporting"></span><span alt=""
            class="small icn sponsor-footer-sporting-sm"></span><span alt="" class="type">Official
            Licensee<span class="visuallyHidden">Sporting ID</span></span></a></li>
      <li><a
          href="https://www.toppsdirect.com/?utm_source=premier-league-website&amp;utm_campaign=website&amp;utm_medium=link"
          target="_blank"><span alt="" class="large icn sponsor-footer-topps"></span><span alt=""
            class="small icn sponsor-footer-topps-sm"></span><span alt="" class="type">Official
            Licensee<span class="visuallyHidden">Topps</span></span></a></li>
    </ul>
  </div>
  <div class="footerContent">
    <div class="wrapper">
      <div class="footerCol double">
        <h3 class="subHeader">Premier League</h3>
        <ul role="menu">
          <li><a href="index.html" target="_self" role="menuitem"><span class=" link">Home</span></a></li>
          <li><a href="fixtures.html" target="_self" role="menuitem"><span class=" link">Fixtures</span></a></li>
          <li><a href="results.html" target="_self" role="menuitem"><span class=" link">Results</span></a>
          </li>
          <li><a href="tables.html" target="_self" role="menuitem"><span class=" link">Tables</span></a>
          </li>
          <li><a href="transfers/january/2019.html" target="_self" role="menuitem"><span
                class=" link">Transfers</span></a></li>
          <li><a href="broadcast-schedules.html" target="_self" role="menuitem"><span class=" link">Broadcast</span></a>
          </li>
          <li><a href="tickets.html" target="_self" role="menuitem"><span class=" link">Tickets</span></a>
          </li>
          <li><a href="clubs.html" target="_self" role="menuitem"><span class=" link">Clubs</span></a>
          </li>
          <li><a href="players.html" target="_self" role="menuitem"><span class=" link">Players</span></a>
          </li>
          <li><a href="managers.html" target="_self" role="menuitem"><span class=" link">Managers</span></a></li>
          <li><a href="news.html" target="_self" role="menuitem"><span class=" link">News</span></a></li>
          <li><a href="social.html" target="_self" role="menuitem"><span class=" link">Social</span></a>
          </li>
          <li><a href="youth.html" target="_self" role="menuitem"><span class=" link">Youth</span></a>
          </li>
          <li><a href="safeguarding.html" target="_self" role="menuitem"><span class=" link">Safeguarding</span></a>
          </li>
          <li><a href="history.html" target="_self" role="menuitem"><span class=" link">History</span></a>
          </li>
          <li><a href="referees.html" target="_self" role="menuitem"><span class=" link">Referees</span></a></li>
        </ul>
      </div>
      <div class="footerCol ">
        <h3 class="subHeader">Fantasy</h3>
        <ul role="menu">
          <li><a href="https://fantasy.premierleague.com/" target="_blank" role="menuitem"><span
                class=" link">Home</span><span class="icn external-sm-ter"><span class="visuallyHidden">External
                  Link</span></span></a></li>
          <li><a href="https://fantasy.premierleague.com/a/team/my" target="_blank" role="menuitem"><span
                class=" link">My Team</span><span class="icn external-sm-ter"><span class="visuallyHidden">External
                  Link</span></span></a></li>
          <li><a href="https://fantasy.premierleague.com/a/squad/transfers" target="_blank" role="menuitem"><span
                class=" link">Transfers</span><span class="icn external-sm-ter"><span class="visuallyHidden">External
                  Link</span></span></a></li>
          <li><a href="https://fantasy.premierleague.com/a/leagues/main" target="_blank" role="menuitem"><span
                class=" link">Leagues</span><span class="icn external-sm-ter"><span class="visuallyHidden">External
                  Link</span></span></a></li>
          <li><a href="https://fantasy.premierleague.com/a/fixtures" target="_blank" role="menuitem"><span
                class=" link">Fixtures</span><span class="icn external-sm-ter"><span class="visuallyHidden">External
                  Link</span></span></a></li>
          <li><a href="https://fantasy.premierleague.com/a/statistics/total_points" target="_blank"
              role="menuitem"><span class=" link">Statistics</span><span class="icn external-sm-ter"><span
                  class="visuallyHidden">External
                  Link</span></span></a></li>
          <li><a href="https://fantasy.premierleague.com/the-scout" target="_blank" role="menuitem"><span
                class=" link">The Scout</span><span class="icn external-sm-ter"><span class="visuallyHidden">External
                  Link</span></span></a></li>
        </ul>
      </div>
      <div class="footerCol ">
        <h3 class="subHeader">Stats</h3>
        <ul role="menu">
          <li><a href="stats.html" target="_self" role="menuitem"><span class=" link">Dashboard</span></a>
          </li>
          <li><a href="stats/top/players/goals240e.html?se=54" target="_self" role="menuitem"><span class=" link">Player
                Stats</span></a></li>
          <li><a href="stats/top/clubs/wins240e.html?se=54" target="_self" role="menuitem"><span class=" link">Club
                Stats</span></a></li>
          <li><a href="stats/all-time.html" target="_self" role="menuitem"><span class=" link">All-time
                Stats</span></a></li>
          <li><a href="stats/records.html" target="_self" role="menuitem"><span class=" link">Records</span></a></li>
          <li><a href="stats/head-to-head.html" target="_self" role="menuitem"><span
                class=" link">Head-to-Head</span></a></li>
          <li><a href="stats/player-comparison.html" target="_self" role="menuitem"><span class=" link">Player
                Comparison</span></a></li>
          <li><a href="stats/awards.html" target="_self" role="menuitem"><span class=" link">Awards</span></a></li>
        </ul>
      </div>
      <div class="footerCol ">
        <h3 class="subHeader">Video</h3>
        <ul role="menu">
          <li><a href="video.html" target="_self" role="menuitem"><span class=" link">Latest
                Videos</span></a></li>
        </ul>
      </div>
      <div class="footerCol ">
        <h3 class="subHeader">Communities</h3>
        <ul role="menu">
          <li><a href="communities.html" target="_self" role="menuitem"><span class=" link">Latest</span></a></li>
          <li><a href="communities/programmes.html" target="_self" role="menuitem"><span
                class=" link">Programmes</span></a></li>
          <li><a href="communities/PLKicksheroes.html" target="_self" role="menuitem"><span class=" link">PL Kicks
                Heroes</span></a></li>
          <li><a href="communities/strategy.html" target="_self" role="menuitem"><span class=" link">Strategy</span></a>
          </li>
          <li><a href="https://plprimarystars.com/" target="_blank" role="menuitem"><span class=" link">PL
                Primary Stars</span><span class="icn external-sm-ter"><span class="visuallyHidden">External
                  Link</span></span></a></li>
        </ul>
      </div>
      <div class="footerCol double">
        <h3 class="subHeader">More</h3>
        <ul role="menu">
          <li><a href="epl.html" target="_self" role="menuitem"><span class=" link">ePremier
                League</span></a></li>
          <li><a href="transfers.html" target="_self" role="menuitem"><span class=" link">Transfers</span></a></li>
          <li><a href="usa-bar-finder.html" target="_self" role="menuitem"><span class=" link">USA Bar
                Finder</span></a></li>
          <li><a href="poppy.html" target="_self" role="menuitem"><span class=" link">Poppy</span></a>
          </li>
          <li><a href="football-remembers.html" target="_self" role="menuitem"><span class=" link">Football
                Remembers</span></a></li>
          <li><a href="this-is-pl/index.html" target="_self" role="menuitem"><span class=" link">This is
                PL</span></a></li>
          <li><a href="photos.html" target="_self" role="menuitem"><span class=" link">Photos</span></a>
          </li>
          <li><a href="nike-ball-hub.html" target="_self" role="menuitem"><span class=" link">Nike Ball
                Hub</span></a></li>
          <li><a href="about.html" target="_self" role="menuitem"><span class=" link">About</span></a>
          </li>
          <li><a href="partners.html" target="_self" role="menuitem"><span class=" link">Partners</span></a></li>
          <li><a href="pl-live.html" target="_self" role="menuitem"><span class=" link">PL Live</span></a>
          </li>
          <li><a href="RainbowLaces.html" target="_self" role="menuitem"><span class=" link">Rainbow
                Laces</span></a></li>
          <li><a href="publications.html" target="_self" role="menuitem"><span class=" link">Publications</span></a>
          </li>
          <li><a href="legal.html" target="_self" role="menuitem"><span class=" link">Legal</span></a>
          </li>
          <li><a href="contact/getintouch.html" target="_self" role="menuitem"><span class=" link">Contact
                Us</span></a></li>
        </ul>
      </div>
      <div class="footerCol ">
        <h3 class="subHeader">Social</h3>
        <ul role="menu">
          <li><a href="https://www.facebook.com/premierleague" target="_blank" role="menuitem"><span class=" link">PL on
                Facebook</span><span class="icn external-sm-ter"><span class="visuallyHidden">External
                  Link</span></span></a></li>
          <li><a href="https://twitter.com/premierleague" target="_blank" role="menuitem"><span class=" link">PL on
                Twitter</span><span class="icn external-sm-ter"><span class="visuallyHidden">External
                  Link</span></span></a></li>
          <li><a href="https://twitter.com/OfficialFPL" target="_blank" role="menuitem"><span class=" link">FPL on
                Twitter</span><span class="icn external-sm-ter"><span class="visuallyHidden">External
                  Link</span></span></a></li>
          <li><a href="https://twitter.com/PLCommunities" target="_blank" role="menuitem"><span class=" link">PL
                Communities on Twitter</span><span class="icn external-sm-ter"><span class="visuallyHidden">External
                  Link</span></span></a></li>
          <li><a href="https://twitter.com/PLYouth" target="_blank" role="menuitem"><span class=" link">PL
                Youth on Twitter</span><span class="icn external-sm-ter"><span class="visuallyHidden">External
                  Link</span></span></a></li>
          <li><a href="https://www.instagram.com/premierleague" target="_blank" role="menuitem"><span class=" link">PL
                on Instagram</span><span class="icn external-sm-ter"><span class="visuallyHidden">External
                  Link</span></span></a></li>
          <li><a href="https://twitter.com/PLinUSA" target="_blank" role="menuitem"><span class=" link">PL
                USA on Twitter</span><span class="icn external-sm-ter"><span class="visuallyHidden">External
                  Link</span></span></a></li>
          <li><a href="https://www.instagram.com/plinusa/" target="_blank" role="menuitem"><span class=" link">PL USA on
                Instagram</span><span class="icn external-sm-ter"><span class="visuallyHidden">External
                  Link</span></span></a></li>
          <li><a href="https://open.spotify.com/user/plplaylists" target="_blank" role="menuitem"><span class=" link">PL
                Music on Spotify</span><span class="icn external-sm-ter"><span class="visuallyHidden">External
                  Link</span></span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footerCorporate" data-script="pl_footer" data-widget="footer-corporate">
    <div class="wrapper col-12">
      <ul role="menu">
        <li><strong class="">© PREMIER LEAGUE 2019</strong></li>
        <li><a href="modern-slavery-statement.html" class="" role="menuitem">Modern Slavery Statement</a>
        </li>
        <li><a href="equality-standard.html" class="" role="menuitem">Equality Standard</a></li>
        <li><a href="terms-and-conditions.html" class="" role="menuitem">Terms & Conditions</a></li>
        <li><a href="privacy-policy.html" class="" role="menuitem">Privacy Policy</a></li>
        <li><a href="cookie-policy.html" class="" role="menuitem">Cookie Policy</a></li>
        <li><a href="index.html#" class="backToTopContainer" role="menuitem">Back To Top</a></li>
      </ul>
      <div class="official"><a href="index.html" class="icn pl-logo-corporate"></a></div>
    </div>
  </div>
</footer>