<main id="mainContent" tabindex="0" class="ism">
  <div class="ism-container">
    <div class="ism-pusher ismjs-page-transition">
      <!-- /131332370/Landscape_Top -->
      <div id="div-gpt-ad-1474989848211-0" class="DFP-banner ismjs-banner-ad ism-banner-ad ism-team-ad hidden"></div>
      <!-- /131332370/DesktopFPLLeague -->
      <div id="div-gpt-ad-1501757861635-0" class="DFP-banner ismjs-banner-ad ism-banner-ad ism-league-ad hidden"></div>
      <!-- Primary content -->
      <div id="ismr-main" class="ism-main">


        <h2 class="visuallyhidden">Home</h2>

        <div>

          <form method="post" action="https://users.premierleague.com/accounts/login/" class="ism-form ism-form--login">
            <input type="hidden" name="csrfmiddlewaretoken" value="WuDieXhG5hTUghe8RYQUHCRmVvdeYSD0">



            <h2 class="ism-form--login__heading">Sign In</h2>

            <div class="ism-form--login__group ism-form--login__group--email">
              <div class="ism-form__group">
                <label for="ismjs-username" class="ism-form__label ism-form--login__label">Email
                  Address</label>
                <input type="text" name="login" id="ismjs-username" class="ism-form__text">
              </div>
            </div>

            <div class="ism-form--login__group ism-form--login__group--password">
              <div class="ism-form__group">
                <label for="ismjs-password" class="ism-form__label ism-form--login__label">Password</label>
                <input type="password" name="password" id="ismjs-password" class="ism-form__text">
              </div>
            </div>

            <div class="ism-form--login__group ism-form--login__group--login">
              <div class="ism-form__group">
                <button type="submit" class="ismjs-submit btn btn-primary ism-button ism-button--full">Login</button>
              </div>
            </div>

            <div class="ism-form--login__group ism-form--login__group--login">
              <div class="ism-form__group">
                <a href="https://users.premierleague.com/accounts/password-reset/"
                  class="ism-form--login__forgot-link ism-link ism-link--more">Forgot your
                  password?<span class="icn arrow-right ism-link__icon"></span></a>
                <a href="https://fantasy.premierleague.com/help/"
                  class="ism-form--login__forgot-link ism-link ism-link--more">Problems signing
                  in?<span class="icn arrow-right ism-link__icon"></span></a>
              </div>
            </div>

            <input type="hidden" name="app" value="plfpl-web">
            <input type="hidden" name="redirect_uri" value="https://fantasy.premierleague.com/a/login">

          </form>

          <h3 class="ism-login-divider">Or</h3>

          <div class="ism-social-login">
            <p class="ism-social-login__intro">Or login with your social account:</p>

            <ul class="ism-social-login__list">
              <li class="ism-social-login__item">
                <a href="https://users.premierleague.com/accounts/facebook/login/?app=plfpl-web&amp;redirect_uri=https://fantasy.premierleague.com/a/login"
                  class="ism-social-button--facebook ism-social-button--inline">
                  <img src="assets/fantasy/facebook.svg" alt="" class="ism-social-button__icon">
                  <span class="ism-social-button__text ism-social-button--inline__text">Login with
                    Facebook</span>
                </a>
              </li>
              <li class="ism-social-login__item">
                <a href="https://users.premierleague.com/accounts/twitter/login/?app=plfpl-web&amp;redirect_uri=https://fantasy.premierleague.com/a/login"
                  class="ism-social-button--twitter ism-social-button--inline">
                  <img src="assets/fantasy/twitter.svg" alt="" class="ism-social-button__icon">
                  <span class="ism-social-button__text ism-social-button--inline__text">Login with
                    Twitter</span>
                </a>
              </li>
              <li class="ism-social-login__item">
                <a href="https://users.premierleague.com/accounts/google/login/?app=plfpl-web&amp;redirect_uri=https://fantasy.premierleague.com/a/login"
                  class="ism-social-button--google ism-social-button--inline">
                  <img src="assets/fantasy/google.svg" alt="" class="ism-social-button__icon">
                  <span class="ism-social-button__text ism-social-button--inline__text">Login with
                    Google</span>
                </a>
              </li>
            </ul>
          </div>

        </div>


        <div class="ism-home-reg">
          <div class="ism-home-reg__main">
            <h2 class="ism-home-reg__heading">
              <span class="ism-home-reg__heading__inner">Register to Play</span>
              <span class="ism-home-reg__heading__inner">Fantasy Premier League</span>
            </h2>

            <p class="ism-home-reg__text">With over 5 million players, Fantasy Premier League is the
              biggest Fantasy Football game in the world. It’s FREE to play and you can win great
              prizes!</p>
          </div>

          <div class="ism-home-reg__cta">
            <a href="https://users.premierleague.com/a/profile/register?app=plfpl-web&amp;redirect_uri=https://fantasy.premierleague.com/a/login"
              class="btn ism-button ism-button--full ism-button--fantasy">Sign Up Now<span
                class="icn arrow-right"></span></a>
          </div>
        </div>



        <div class="ism-home-body">

          <div class="ism-home-steps">
            <div class="ism-home-steps__unit">
              <!--<div class="ism-home-step ism-home-step--1 ism-home-step--1--5"> -->
              <div class="ism-home-step ism-home-step--1 ism-home-step--1--1">
                <h2 class="ism-home-step__heading">Pick Your Squad</h2>
                <p>Use your budget of £100m to pick a squad of 15 players from the Premier League.
                </p>
              </div>
            </div>

            <div class="ism-home-steps__unit">
              <div class="ism-home-step ism-home-step--2">
                <h2 class="ism-home-step__heading">Create and Join Leagues</h2>
                <p>Play against friends and family, colleagues or a web community in private
                  leagues.</p>
              </div>
            </div>
          </div>




          <h2 class="subHeader ism-sub-header ism-home-scout__heading">Latest from The Scout</h2>



          <div class="ism-featured">
            <a href="https://www.premierleague.com/news/1060886" class="heroThumb ism-hero-thumb">
              <figure>
                <span class="image">
                  <span class="icn shard-hero-thumbnail"></span>
                  <img src="assets/fantasy/Marcus-Rashford-Paul-Pogba.jpg" alt="Marcus Rashford Paul Pogba">
                  <svg data-name="Layer 1" xmlns="//www.w3.org/2000/svg" viewBox="0 0 343 79">
                    <path class="fill"
                      d="M3998,4894l51.91,18-1,5.29c75.27,22.9,152.4,34.56,231.23,40.06-0.44,2-.81,3.87-1.26,5.7s-1,3.77-1.78,6.41c7.79,0.53,15.17,1.17,22.57,1.51,12.14,0.56,24.29.9,36.43,1.38,1.65,0.07,3.28.42,4.92,0.64H3998v-79Z"
                      transform="translate(-3998 -4894)"></path>
                  </svg>
                </span>

                <figcaption>
                  <h4 class="title">Plan for Double Gameweeks for Pogba and Rashford</h4>
                  <p>The Scout says FA Cup postponements means Man Utd stars will play twice in
                    Gameweeks 32 and 35</p>
                  <time class="ism-hero-thumb__published">22/02/2019</time>
                </figcaption>
              </figure>
            </a>
          </div>






        </div>


      </div>

      <!-- Secondary content -->
      <div id="ismr-side" class="ism-sidebar">




      </div>
    </div>
  </div>
</main>