<main id="mainContent" tabindex="0" class="ism">

  <div class="ism-container">
    <div class="ism-pusher ismjs-page-transition">
      <!-- Primary content -->
      <div id="ismr-main" class="ism-main">
        <div>
          <div id="ismjs-page-heading" class="hidden">Fantasy Football Game Prizes | Fantasy Premier
            League</div>
          <div id="ismjs-page-description" class="hidden">To find out about Fantasy Premier League prizes,
            including overall, monthly and weekly prizes, visit the official website of the Premier
            League.l share </div>

          <h2 class="sectionTitle ism-section-title">Prizes</h2>

          <div class="ism-copy">

            <h3 class="subHeader ism-sub-header">Overall Prizes</h3>

            <h4>1st Prize – 2018/19 Fantasy Premier League Champion</h4>
            <ul>
              <li>7-night break in the UK including VIP hospitality at two 2019/20 Premier League
                matches</li>
              <li>A week’s worth of experiences at popular tourist attractions courtesy of Visit
                Britain</li>
              <li>Includes travel and 7 nights’ accommodation</li>
              <li>TAG Heuer connected watch</li>
              <li>Copy of FIFA19 and a games console</li>
              <li>Nike manager jacket</li>
              <li>FPL goody bag consisting of a rucksack, t-shirt, mug, water bottle, stress ball,
                pen, pad and key ring</li>
            </ul>

            <h4>Runner-up</h4>
            <ul>
              <li>VIP hospitality at one 2019/20 Premier League match</li>
              <li>Includes travel and 2 nights’ accommodation</li>
              <li>Copy of FIFA19 and a games console</li>
              <li>Tablet computer</li>
              <li>Bluetooth speaker</li>
              <li>Nike manager jacket</li>
              <li>FPL goody bag consisting of a rucksack, t-shirt, mug, water bottle, stress ball,
                pen, pad and key ring</li>
            </ul>

            <h4>3rd place</h4>
            <ul>
              <li>Copy of FIFA19 and a games console</li>
              <li>Tablet computer</li>
              <li>Bluetooth speaker</li>
              <li>Nike manager jacket</li>
              <li>FPL goody bag consisting of a rucksack, t-shirt, mug, water bottle, stress ball,
                pen, pad and key ring</li>
            </ul>

            <h4>2018/19 FPL Cup Winner</h4>
            <ul>
              <li>VIP hospitality at one 2019/20 Premier League match</li>
              <li>Includes travel and 2 nights’ accommodation</li>
              <li>Copy of FIFA19 and a games console</li>
              <li>Tablet computer</li>
              <li>Bluetooth speaker</li>
              <li>Nike manager jacket</li>
              <li>FPL goody bag consisting of a rucksack, t-shirt, mug, water bottle, stress ball,
                pen, pad and key ring</li>
            </ul>
          </div>


          <div class="ism-copy">

            <h3 class="subHeader ism-sub-header">Monthly Prizes</h3>

            <h4>Manager of the Month</h4>

            <ul>
              <li>Tablet computer</li>
              <li>Bluetooth speaker</li>
              <li>Copy of FIFA19</li>
              <li>Nike Merlin match ball</li>
              <li>Nike manager jacket</li>
            </ul>

            <p>Top 10 Managers each month (incl Manager of the Month) will receive:</p>

            <ul>
              <li>FPL goody bag consisting of a rucksack, t-shirt, mug, water bottle, stress ball,
                pen, pad and key ring</li>
            </ul>
          </div>


          <h3 class="subHeader ism-sub-header">Weekly Prizes</h3>

          <div class="ism-copy">
            <h4>Manager of the Week<sup><a href="/a/prizes#ism-prizes-footnote"
                  class="ism-link">*</a></sup></h4>

            <ul>
              <li>Copy of FIFA19</li>
              <li>Nike Merlin match ball</li>
              <li>FPL rucksack</li>
              <li>FPL mug</li>
            </ul>

            <p>Top 20 Managers each week (incl Manager of the Week) will receive:</p>

            <ul>
              <li>FPL t-shirt, stress ball, pen, pad and key ring</li>
            </ul>

            <hr>
            <p id="ism-prizes-footnote" class="ism-footnote">
              <sup>*</sup> To be eligible to win a weekly prize, you must have joined the game before
              the start of the season or a minimum of two clear Gameweeks before the one in which you
              are top of the weekly leaderboard. Players who have played a chip (including Bench
              Boost, Free Hit Triple Captain or Wildcard) will not be eligible to win a weekly prize
              for the Gameweek that such a chip has been used.
            </p>
          </div>



        </div>
      </div>

      <!-- Secondary content -->
      <div id="ismr-side" class="ism-sidebar">
        <div>

        </div>
      </div>
    </div>
  </div>
</main>