<main id="mainContent" tabindex="0" class="ism">

  <div class="ism-container">
    <div class="ism-pusher ismjs-page-transition">
      <!-- Primary content -->
      <div id="ismr-main" class="ism-main">
        <div>





          <div id="ismjs-page-heading" class="hidden">The Scout, Fantasy Football Tips | Fantasy Premier
            League</div>
          <div id="ismjs-page-description" class="hidden">To find out about the latest form and stats for
            Fantasy Premier League players, read what The Scout has to say, on the official website of
            the Premier League.</div>

          <div class="ism-scout-main">

            <h2 class="sectionTitle ism-section-title">The Scout</h2>
            <!-- PROMOTED CONTENT -->



            <div class="ism-featured">
              <a href="/news/1110123" class="heroThumb ism-hero-thumb">
                <figure>
                  <span class="image">
                    <span class="icn shard-hero-thumbnail"></span>
                    <img src="assets/fantasy/scout_files/Chelsea-goalkeeper-Kepa-Arrizabalaga-l.png"
                      alt="Chelsea goalkeeper Kepa Arrizabalaga">
                    <svg data-name="Layer 1" xmlns="//www.w3.org/2000/svg" viewBox="0 0 343 79">
                      <path class="fill"
                        d="M3998,4894l51.91,18-1,5.29c75.27,22.9,152.4,34.56,231.23,40.06-0.44,2-.81,3.87-1.26,5.7s-1,3.77-1.78,6.41c7.79,0.53,15.17,1.17,22.57,1.51,12.14,0.56,24.29.9,36.43,1.38,1.65,0.07,3.28.42,4.92,0.64H3998v-79Z"
                        transform="translate(-3998 -4894)"></path>
                    </svg>
                  </span>

                  <figcaption>
                    <h4 class="title">Gameweek 32 targets: Fixtures favour Kepa</h4>
                    <p>The Scout says Chelsea goalkeeper is among standout options for the
                      Double Gameweek</p>
                    <time class="ism-hero-thumb__published">20/03/2019</time>
                  </figcaption>
                </figure>
              </a>
            </div>





            <!-- NEWS -->


            <div class="mainWidget latestFeatures">
              <h3 class="subHeader ism-sub-header">Latest FPL News</h3>
              <ul class="block-list-4 ism-block-list">

                <li>
                  <a href="/news/1109832" class="thumbnail">
                    <figure>
                      <span class="image">
                        <img src="assets/fantasy/scout_files/Lead-AgueroHazard.png"
                          alt="Sergio Aguero, of Man City, and Chelsea&#39;s Eden Hazard">
                      </span>
                      <figcaption>
                        <span class="title">Ten teams given FPL Double Gameweek 32</span>
                        <time class="published">19/03/2019</time>
                      </figcaption>
                    </figure>
                  </a>
                </li>

                <li>
                  <a href="/news/1109872" class="thumbnail">
                    <figure>
                      <span class="image">
                        <img src="assets/fantasy/scout_files/GettyImages-1094440726.jpg" alt="Harry Kane and Paul Pogba">
                      </span>
                      <figcaption>
                        <span class="title">Double Gameweeks 34 and 35 confirmed in
                          FPL</span>
                        <time class="published">19/03/2019</time>
                      </figcaption>
                    </figure>
                  </a>
                </li>

                <li>
                  <a href="/news/783106" class="thumbnail">
                    <figure>
                      <span class="image">
                        <img src="assets/fantasy/scout_files/Reuben-Loftus-Cheek-Idrissa-Gana-Gueye.jpg"
                          alt="Reuben Loftus-Cheek-Idrissa Gana Gueye">
                      </span>
                      <figcaption>
                        <span class="title">Download latest FPL Fixture Difficulty
                          Rankings</span>
                        <time class="published">31/12/2018</time>
                      </figcaption>
                    </figure>
                  </a>
                </li>

                <li>
                  <a href="/news/1109912" class="thumbnail">
                    <figure>
                      <span class="image">
                        <img src="assets/fantasy/scout_files/king.png" alt="Joshua King, AFC Bournemouth">
                      </span>
                      <figcaption>
                        <span class="title">GW31 Lessons: King the Free Hit
                          differential</span>
                        <time class="published">19/03/2019</time>
                      </figcaption>
                    </figure>
                  </a>
                </li>

              </ul>
            </div>


            <!-- VIDEO -->


            <h3 class="subHeader ism-sub-header">Latest FPL Videos</h3>
            <div class="mainWidget latestVideos ism-main-widget">
              <div class="grid-5-featured">


                <div class="col main ism-video">

                  <a href="/fantasy/fantasyhome" class="thumbnail videoThumb">
                    <figure>
                      <span class="image">
                        <img src="assets/fantasy/scout_files/yGsxAcFp.jpg" alt="PLCFPL_19_03_20_DAILY_UPDATE">
                        <span class="runTime">
                          <span class="icn play"></span>
                          <time datetime="PT02M00S">02:00</time>
                        </span>
                      </span>
                      <figcaption>
                        <span class="title">FPL Daily Update: GW32 #3</span>

                        <p class="text">With all Double Gameweek confirmed, Danny Jamieson
                          looks out the standout options in Fantasy, including Man City's
                          GW32 combo</p>

                        <time class="published">20/03/2019</time>
                      </figcaption>
                    </figure>
                  </a>

                </div>



                <div class="col rest">

                  <a href="/fantasy/fantasyhome" class="thumbnail videoThumb">
                    <figure>
                      <span class="image">
                        <img src="assets/fantasy/scout_files/NWniLBgE.jpg" alt="FPL Daily Update: GW32 #2">
                        <span class="runTime">
                          <span class="icn play"></span>
                          <time datetime="PT02M00S">02:00</time>
                        </span>
                      </span>
                      <figcaption>
                        <span class="title">FPL Daily Update: GW32 #2</span>

                        <time class="published">19/03/2019</time>
                      </figcaption>
                    </figure>
                  </a>



                  <a href="/fantasy/fantasyhome" class="thumbnail videoThumb">
                    <figure>
                      <span class="image">
                        <img src="assets/fantasy/scout_files/hbFVIIqr.jpg" alt="FPL Show Ep 32: Will Hughes">
                        <span class="runTime">
                          <span class="icn play"></span>
                          <time datetime="PT01M02S">01:02</time>
                        </span>
                      </span>
                      <figcaption>
                        <span class="title">FPL Show Ep 32: Will Hughes</span>

                        <time class="published">19/03/2019</time>
                      </figcaption>
                    </figure>
                  </a>



                  <a href="/fantasy/fantasyhome" class="thumbnail videoThumb">
                    <figure>
                      <span class="image">
                        <img src="assets/fantasy/scout_files/wNpRmcib.jpg" alt="FPL Show Ep 32: Ricardo Pereira">
                        <span class="runTime">
                          <span class="icn play"></span>
                          <time datetime="PT00M57S">00:57</time>
                        </span>
                      </span>
                      <figcaption>
                        <span class="title">FPL Show Ep 32: Ricardo Pereira</span>

                        <time class="published">15/03/2019</time>
                      </figcaption>
                    </figure>
                  </a>



                  <a href="/fantasy/fantasyhome" class="thumbnail videoThumb">
                    <figure>
                      <span class="image">
                        <img src="assets/fantasy/scout_files/LygsJVzw.jpg" alt="PLCFPL_19_03_18_DAILY_UPDATE">
                        <span class="runTime">
                          <span class="icn play"></span>
                          <time datetime="PT02M05S">02:05</time>
                        </span>
                      </span>
                      <figcaption>
                        <span class="title">FPL Daily Update: GW32 #1</span>

                        <time class="published">18/03/2019</time>
                      </figcaption>
                    </figure>
                  </a>



                </div>
              </div>
            </div>


          </div>

          <div class="ism-scout-sidebar">
            <div class="ism-bordered ism-bordered--primary">
              <h2 class="subHeader ism-sub-header ism-bordered__heading">FPL on Social</h2>

              <ul class="ism-button-group">
                <li class="ism-button-group__item">
                  <a href="https://www.facebook.com" class="ism-social-button--facebook" target="_blank">
                    <img src="assets/fantasy/scout_files/facebook.svg" alt="" class="ism-social-button__icon">
                    <span class="ism-social-button__text">FPL on Facebook</span>
                  </a>
                </li>
                <li class="ism-button-group__item">
                  <a href="https://twitter.com" class="ism-social-button--twitter" target="_blank">
                    <img src="assets/fantasy/scout_files/twitter.svg" alt="" class="ism-social-button__icon">
                    <span class="ism-social-button__text">FPL on Twitter</span>
                  </a>
                </li>
              </ul>

              <div class="ism-panel ism-panel--guttered">
                <div id="ismjs-twitter-timeline" class="ism-twitter-timeline">

                  <iframe id="twitter-widget-3" scrolling="no" frameborder="0" allowtransparency="true"
                    allowfullscreen="true" class="twitter-timeline twitter-timeline-rendered"
                    style="position: static; visibility: visible; display: inline-block; width: 100%; height: 1200px; padding: 0px; border: none; max-width: 100%; min-width: 180px; margin-top: 0px; margin-bottom: 0px; min-height: 200px;"
                    data-widget-id="profile:officialfpl" title="Twitter Timeline"
                    src="assets/fantasy/scout_files/saved_resource.html"></iframe></div>
              </div>
            </div>


          </div>



        </div>
      </div>

      <!-- Secondary content -->
      <div id="ismr-side" class="ism-sidebar">
        <div>

        </div>
      </div>
    </div>
  </div>
</main>