<main id="mainContent" tabindex="0" class="ism">

  <div class="ism-container">
    <div class="ism-pusher ismjs-page-transition">
      <!-- Primary content -->
      <div id="ismr-main" class="ism-main">
        <div>
          <div id="ismjs-page-heading" class="hidden">Create &amp; Join Fantasy Football Leagues | Fantasy
            Premier League</div>
          <div id="ismjs-page-description" class="hidden">To view all types of leagues including
            head-to-head, classic &amp; global, as well as creating &amp; joining new leagues, visit the
            official website of the Premier League.</div>
          <h2 class="sectionTitle ism-section-title">Leagues</h2>
          <h3 class="subHeader ism-sub-header">Maria Bykoba</h3>

          <div class="ism-button-group">
            <div class="ism-button-group__item ism-button-group__item--primary">
              <a href="/a/leagues/create-join"
                class="ismjs-link btn btn-primary ism-button ism-button--full">Create and join new
                leagues<span class="icn arrow-right-w"></span></a>
            </div>

            <div class="ism-button-group__item ism-button-group__item--secondary">
              <a href="/a/leagues/renew"
                class="ismjs-link btn btn-secondary ism-button ism-button--full">Renew your
                leagues<span class="icn arrow-right-w"></span></a>
            </div>
          </div>

          <div class="ism-my-leagues">
            <div id="ismr-leagues-classic-private">
              <div>

                <div class="ism-panel ism-panel--dark">
                  <h3 class="ism-panel__heading ism-panel__heading--guttered">

                    Private classic leagues

                  </h3>
                  <div class="ism-panel__body">
                    <div class="table ism-scroll-table">
                      <table class="ism-table ism-table--light ism-table--league ism-table--summary">
                        <thead>
                          <tr>
                            <th class="ism-table--summary__name">League</th>
                            <th class="ism-table--summary__movement"></th>
                            <th class="ism-table--summary__cur-rank">Current Rank</th>
                            <th class="ism-table--summary__prev-rank">Last Rank</th>
                            <th class="ism-table--summary__options"></th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div id="ismr-leagues-h2h-private">
              <div>

                <div class="ism-panel ism-panel--dark">
                  <h3 class="ism-panel__heading ism-panel__heading--guttered">

                    Private head-to-head leagues

                  </h3>
                  <div class="ism-panel__body">
                    <div class="table ism-scroll-table">
                      <table class="ism-table ism-table--light ism-table--league ism-table--summary">
                        <thead>
                          <tr>
                            <th class="ism-table--summary__name">League</th>
                            <th class="ism-table--summary__movement"></th>
                            <th class="ism-table--summary__cur-rank">Current Rank</th>
                            <th class="ism-table--summary__prev-rank">Last Rank</th>
                            <th class="ism-table--summary__options"></th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div id="ismr-leagues-classic-public">
              <div>

                <div class="ism-panel ism-panel--dark">
                  <h3 class="ism-panel__heading ism-panel__heading--guttered">

                    Public classic leagues

                  </h3>
                  <div class="ism-panel__body">
                    <div class="table ism-scroll-table">
                      <table class="ism-table ism-table--light ism-table--league ism-table--summary">
                        <thead>
                          <tr>
                            <th class="ism-table--summary__name">League</th>
                            <th class="ism-table--summary__movement"></th>
                            <th class="ism-table--summary__cur-rank">Current Rank</th>
                            <th class="ism-table--summary__prev-rank">Last Rank</th>
                            <th class="ism-table--summary__options"></th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div id="ismr-leagues-h2h-public">
              <div>

                <div class="ism-panel ism-panel--dark">
                  <h3 class="ism-panel__heading ism-panel__heading--guttered">

                    Public head-to-head leagues

                  </h3>
                  <div class="ism-panel__body">
                    <div class="table ism-scroll-table">
                      <table class="ism-table ism-table--light ism-table--league ism-table--summary">
                        <thead>
                          <tr>
                            <th class="ism-table--summary__name">League</th>
                            <th class="ism-table--summary__movement"></th>
                            <th class="ism-table--summary__cur-rank">Current Rank</th>
                            <th class="ism-table--summary__prev-rank">Last Rank</th>
                            <th class="ism-table--summary__options"></th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div id="ismr-leagues-system">
              <div>

                <div class="ism-panel ism-panel--dark">
                  <h3 class="ism-panel__heading ism-panel__heading--guttered">

                    Global leagues

                  </h3>
                  <div class="ism-panel__body">
                    <div class="table ism-scroll-table">
                      <table class="ism-table ism-table--light ism-table--league ism-table--summary">
                        <thead>
                          <tr>
                            <th class="ism-table--summary__name">League</th>
                            <th class="ism-table--summary__movement"></th>
                            <th class="ism-table--summary__cur-rank">Current Rank</th>
                            <th class="ism-table--summary__prev-rank">Last Rank</th>
                            <th class="ism-table--summary__options"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="ismjs-menu ism-row-select">
                            <td><a href="/a/leagues/standings/1/classic"
                                class="ismjs-link ism-link">Arsenal</a></td>
                            <td>
                              <picture>
                                <source type="image/webp" srcset="assets/imgs/down.webp,
                    assets/imgs/down@2x.webp 2x" sizes="10px">
                                <img srcset="assets/imgs/down.png,
                    assets/imgs/down@2x.png 2x" sizes="10px"
                                  alt="down" title="down">
                              </picture>
                            </td>
                            <td>441278</td>
                            <td>441271</td>
                            <td>
                              <a href="/a/leagues/main#" class="ismjs-menu ism-link">
                                <svg class="ism-icon--small ism-icon--admin" aria-labelledby="ism-title-admin"
                                  aria-describedby="ism-desc-admin">
                                  <use xlink:href="#ism-cog"></use>
                                </svg>
                                Options
                              </a>
                            </td>
                          </tr>
                          <tr class="ismjs-menu ism-row-select">
                            <td><a href="/a/leagues/standings/198/classic"
                                class="ismjs-link ism-link">Russia</a></td>
                            <td>
                              <picture>
                                <source type="image/webp" srcset="assets/imgs/up.webp,
                    assets/imgs/up@2x.webp 2x" sizes="10px">
                                <img srcset="assets/imgs/up.png,
                    assets/imgs/up@2x.png 2x" sizes="10px" alt="up"
                                  title="up">
                              </picture>
                            </td>
                            <td>14088</td>
                            <td>14103</td>
                            <td>
                              <a href="/a/leagues/main#" class="ismjs-menu ism-link">
                                <svg class="ism-icon--small ism-icon--admin" aria-labelledby="ism-title-admin"
                                  aria-describedby="ism-desc-admin">
                                  <use xlink:href="#ism-cog"></use>
                                </svg>
                                Options
                              </a>
                            </td>
                          </tr>
                          <tr class="ismjs-menu ism-row-select">
                            <td><a href="/a/leagues/standings/301/classic"
                                class="ismjs-link ism-link">Gameweek 27</a></td>
                            <td>
                              <picture>
                                <source type="image/webp" srcset="assets/imgs/up.webp,
                    assets/imgs/up@2x.webp 2x" sizes="10px">
                                <img srcset="assets/imgs/up.png,
                    assets/imgs/up@2x.png 2x" sizes="10px" alt="up"
                                  title="up">
                              </picture>
                            </td>
                            <td>1469</td>
                            <td>1779</td>
                            <td>
                              <a href="/a/leagues/main#" class="ismjs-menu ism-link">
                                <svg class="ism-icon--small ism-icon--admin" aria-labelledby="ism-title-admin"
                                  aria-describedby="ism-desc-admin">
                                  <use xlink:href="#ism-cog"></use>
                                </svg>
                                Options
                              </a>
                            </td>
                          </tr>
                          <tr class="ismjs-menu ism-row-select">
                            <td><a href="/a/leagues/standings/313/classic"
                                class="ismjs-link ism-link">Overall</a></td>
                            <td>
                              <picture>
                                <source type="image/webp" srcset="assets/imgs/up.webp,
                    assets/imgs/up@2x.webp 2x" sizes="10px">
                                <img srcset="assets/imgs/up.png,
                    assets/imgs/up@2x.png 2x" sizes="10px" alt="up"
                                  title="up">
                              </picture>
                            </td>
                            <td>6143393</td>
                            <td>6147806</td>
                            <td>
                              <a href="/a/leagues/main#" class="ismjs-menu ism-link">
                                <svg class="ism-icon--small ism-icon--admin" aria-labelledby="ism-title-admin"
                                  aria-describedby="ism-desc-admin">
                                  <use xlink:href="#ism-cog"></use>
                                </svg>
                                Options
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div id="ismr-leagues-menu"></div>
          </div>

        </div>
      </div>

      <!-- Secondary content -->
      <div id="ismr-side" class="ism-sidebar">
        <div>

        </div>
      </div>
    </div>
  </div>
</main>