<main id="mainContent" *ngIf="!gs.registering" tabindex="0" class="ism">
  <div id="ismjs-game-name" class="hidden">Fantasy Premier League, Official Fantasy Football Game of the Premier
    League</div>
  <div id="ismjs-game-description" class="hidden">Official Fantasy Premier League 2018/19. Free to play fantasy
    football game, set up your fantasy football team at the Official Premier League site.</div>
  <div class="ism-header">
    <div class="wrapper">
      <div class="ism-player-comp ism-player-comp--header ism-player-comp--1">
        <!-- <div class="ism-player-comp ism-player-comp--header ism-player-comp--1"> -->
        <div class="ism-game-header">
          <h1>
            <a href="/fantasy">
              <picture>
                <source media="(min-width: 1024px)" type="image/svg+xml"
                  srcset="assets/fantasy/static/libsass/plfpl/dist/img/svg/logos/fpl-logo-full.svg">
                <img src="assets/fantasy/fpl-logo-short.svg" alt="Fantasy Premier League" class="ism-game-header__logo">
              </picture>

            </a>
          </h1>


          <p class="ism-game-header__sponsor ism-sponsor ism-sponsor--header"><span
              class="ism-sponsor--header__text">Brought to you by</span><img src="assets/fantasy/ea-logo.svg"
              alt="EA SPORTS" class="ism-sponsor--header__logo">
          </p>
        </div>
        <!-- <nav role="navigation" class="ism-nav ismjs-priority-nav ismjs-nav priority-nav" instance="0">


          <ul *ngIf="!gs.auth" class="ism-nav__list ismjs-main-nav">


            <li class="ism-nav__list__item">
              <a routerLink="fantasyhome" [ngClass]="tabIndex==0?'ism-nav__tab is-active':'ism-nav__tab'"
                data-nav-tab="home" data-nav-applink="true" (click)="tabIndex=0">Home</a>
            </li>

            <li class="ism-nav__list__item">
              <a routerLink="prizes" [ngClass]="tabIndex==1?'ism-nav__tab is-active':'ism-nav__tab'"
                data-nav-tab="prizes" data-nav-applink="true" (click)="tabIndex=1">Prizes</a>
            </li>

            <li class="ism-nav__list__item">
              <a routerLink="scout" [ngClass]="tabIndex==2?'ism-nav__tab is-active':'ism-nav__tab'" data-nav-tab="scout"
                data-nav-applink="true" (click)="tabIndex=2">The Scout</a>
            </li>

            <li class="ism-nav__list__item">
              <a routerLink="help" [ngClass]="tabIndex==3?'ism-nav__tab is-active':'ism-nav__tab'" data-nav-tab="help"
                data-nav-applink="true" (click)="tabIndex=3">Help</a>
            </li>

            <li class="ism-nav__list__item">
              <a routerLink="statistics" [ngClass]="tabIndex==4?'ism-nav__tab is-active':'ism-nav__tab'"
                data-nav-tab="statistics" data-nav-applink="true" (click)="tabIndex=4">Statistics</a>
            </li>

            <li class="ism-nav__list__item">
              <a routerLink="/draft" class="ism-nav__tab ism-nav__tab--primary">Draft</a>
            </li>

            <li class="ism-nav__list__item">
              <a href="http://www.rotoworld.com/sports/bpl/premier-league?utm_source=premier-league-fantasy&amp;utm_campaign=rotoworld&amp;utm_medium=link"
                class="ism-nav__tab" target="_blank" rel="noopener noreferrer">
                Rotoworld
                <span class="icn external-w ism-nav__tab__icon"></span>
                <span class="icn external-d ism-nav__tab__icon"></span>
              </a>
            </li>
          </ul>
          <ul *ngIf="gs.auth" class="ism-nav__list ismjs-main-nav">


            <li class="ism-nav__list__item">
              <a routerLink="status" [ngClass]="tabIndex==0?'ism-nav__tab is-active':'ism-nav__tab'"
                data-nav-tab="status" data-nav-applink="true" (click)="tabIndex=0">Status</a>
            </li>

            <li class="ism-nav__list__item">
              <a routerLink="myteam" [ngClass]="tabIndex==1?'ism-nav__tab is-active':'ism-nav__tab'"
                data-nav-tab="myteam" data-nav-applink="true" (click)="tabIndex=1">My team</a>
            </li>

            <li class="ism-nav__list__item">
              <a routerLink="points" [ngClass]="tabIndex==2?'ism-nav__tab is-active':'ism-nav__tab'"
                data-nav-tab="points" data-nav-applink="true" (click)="tabIndex=2">Points</a>
            </li>

            <li class="ism-nav__list__item">
              <a routerLink="transfers" [ngClass]="tabIndex==3?'ism-nav__tab is-active':'ism-nav__tab'"
                data-nav-tab="transfers" data-nav-applink="true" (click)="tabIndex=3">Transfers</a>
            </li>

            <li class="ism-nav__list__item">
              <a routerLink="leagues" [ngClass]="tabIndex==4?'ism-nav__tab is-active':'ism-nav__tab'"
                data-nav-tab="leagues" data-nav-applink="true" (click)="tabIndex=4">Leagues</a>
            </li>
            <li class="ism-nav__list__item">
              <a routerLink="fixtures" [ngClass]="tabIndex==5?'ism-nav__tab is-active':'ism-nav__tab'"
                data-nav-tab="fixtures" data-nav-applink="true" (click)="tabIndex=5">Fixtures</a>
            </li>
            <li class="ism-nav__list__item">
              <a routerLink="statistics" [ngClass]="tabIndex==6?'ism-nav__tab is-active':'ism-nav__tab'"
                data-nav-tab="statistics" data-nav-applink="true" (click)="tabIndex=6">Statistics</a>
            </li>
            <li class="ism-nav__list__item">
              <a routerLink="scout" [ngClass]="tabIndex==7?'ism-nav__tab is-active':'ism-nav__tab'" data-nav-tab="scout"
                data-nav-applink="true" (click)="tabIndex=7">The Scout</a>
            </li>

            <li class="ism-nav__list__item">
              <a routerLink="/draft" class="ism-nav__tab ism-nav__tab--primary">Draft</a>
            </li>
            <li class="ism-nav__list__item">
              <a routerLink="prizes" [ngClass]="tabIndex==8?'ism-nav__tab is-active':'ism-nav__tab'"
                data-nav-tab="prizes" data-nav-applink="true" (click)="tabIndex=8">Prizes</a>
            </li>
            <li class="ism-nav__list__item">
              <a href="/fantasy/fantasyhome" [ngClass]="tabIndex==9?'ism-nav__tab is-active':'ism-nav__tab'"
                (click)="tabIndex=9;gs.logout()">Sign
                Out</a>
            </li>

          </ul>
          <span *ngIf="gs.auth" class="ism-nav__dropdown-wrapper priority-nav__wrapper" aria-haspopup="true">
            <button aria-controls="menu" type="button"
              class="ism-nav__dropdown-toggle priority-nav__dropdown-toggle priority-nav-is-visible is-open"
              prioritynav-count="11">More</button>
            <ul aria-hidden="false" class="ism-nav__dropdown priority-nav__dropdown show">
              <li class="ism-nav__list__item">
                <a routerLink="leagues" class="ism-nav__tab" data-nav-tab="leagues">Leagues</a>
              </li>
              <li class="ism-nav__list__item">
                <a routerLink="fixtures" class="ism-nav__tab" data-nav-tab="fixtures">Fixtures</a>
              </li>
              <li class="ism-nav__list__item">
                <a routerLink="statistics" class="ism-nav__tab" data-nav-tab="statistics">Statistics</a>
              </li>
              <li class="ism-nav__list__item">
                <a routerLink="scout" class="ism-nav__tab" data-nav-tab="scout">The Scout</a>
              </li>
              <li class="ism-nav__list__item">
                <a routerLink="/draft" class="ism-nav__tab ism-nav__tab--primary">Draft</a>
              </li>
              <li class="ism-nav__list__item">
                <a routerLink="prizes" class="ism-nav__tab" data-nav-tab="prizes">Prizes</a>
              </li>
              <li class="ism-nav__list__item">
                <a routerLink="winners" class="ism-nav__tab" data-nav-tab="winners">Prize Winners</a>
              </li>
              <li class="ism-nav__list__item">
                <a routerLink="player-news" class="ism-nav__tab" data-nav-tab="element-news">Player Availability</a>
              </li>
              <li class="ism-nav__list__item">
                <a href="http://www.rotoworld.com/sports/bpl/premier-league?utm_source=premier-league-fantasy&amp;utm_campaign=rotoworld&amp;utm_medium=link"
                  class="ism-nav__tab" target="_blank" rel="noopener noreferrer">
                  Rotoworld
                  <span class="icn external-w ism-nav__tab__icon"></span>
                  <span class="icn external-d ism-nav__tab__icon"></span>
                </a>
              </li>
              <li class="ism-nav__list__item">
                <a routerLink="help" class="ism-nav__tab" data-nav-tab="help">Help</a>
              </li>
              <li class="ism-nav__list__item">
                <a href="/fantasy/fantasyhome" class="ism-nav__tab" (click)="gs.logout()">Sign Out</a>
              </li>
            </ul>
          </span>

        </nav> -->
      </div>
    </div>
  </div>
</main>