<main id="mainContent" *ngIf="!gs.registering" tabindex="0" class="ism">
  <div id="ismjs-game-name" class="hidden">Fantasy Premier League, Official Fantasy Football Game of the Premier
    League</div>
  <div id="ismjs-game-description" class="hidden">Official Fantasy Premier League 2018/19. Free to play fantasy
    football game, set up your fantasy football team at the Official Premier League site.</div>
  <div class="ism-header">
    <div class="wrapper">
      <div class="ism-player-comp ism-player-comp--header ism-player-comp--1">
        <!-- <div class="ism-player-comp ism-player-comp--header ism-player-comp--1"> -->
        <div class="ism-game-header">
          <h1>
            <a href="/fantasy">
              <picture>
                <source media="(min-width: 1024px)" type="image/svg+xml"
                  srcset="assets/imgs/fpl-logo-full.svg">
                <img src="assets/fantasy/fpl-logo-short.svg" alt="Fantasy Premier League" class="ism-game-header__logo">
              </picture>
            </a>
          </h1>
          <p class="ism-game-header__sponsor ism-sponsor ism-sponsor--header"><span
              class="ism-sponsor--header__text">Brought to you by</span><img src="assets/fantasy/ea-logo.svg"
              alt="EA SPORTS" class="ism-sponsor--header__logo">
          </p>
        </div>
      </div>
    </div>
  </div>
</main>